.App {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0;
  background: rgb(28, 45, 48);
  min-height: 100%;
  position: absolute;
  min-width: 100%;
}

h1 {
  color: white;
  margin-top: 50px;
}

#root {
  min-height: 100%;
}

.UsersContainer {
  width: 15%;
  height: 100%;
}