.FilesContainer {
  min-height: 100%;
  width: 63%;
  text-align: center;
  background: white;
  position: absolute;
  left: 22%;
  height: 100%;
  overflow: auto;
}

.FilesHeader {
  color: rgb(28, 45, 48);
  position: relative;
  height: 90px;
  width: 100%;
  background: rgb(230, 230, 230);
  position: absolute;
}

.FilesHeader > h3 {
  vertical-align: center;
  margin-top: 30px;
}