.SidebarContainer {
  height: 100%;
  width: 22%;
  text-align: center;
  position: absolute;
  left: 0;
}

.SidebarHeader {
  color: white;
  margin-top: 50px;
}

.SidebarTitle {
  padding: 0;
  margin: 0;
  font-size: 60px;
}

.SideBarLogo {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}

hr {
  width: 80%;
  background: white;
  height: 1px;
  border-radius: 40px;
  margin: 40px auto 0 auto;
}

.SidebarSlogan {
  margin: 0;
}

.SidebarDescription {
  width: 80%;
  margin: 40px auto 10px auto;
}

.SidebarSocialIcon {
  position: absolute;
  font-size: 40px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 5%;
}

div.SidebarSocialIcon > p {
  font-size: 17px;
}

.SocialIcon {
  margin: 10px;
}
