.storageContainer {
  color: white;
  position: absolute;
  width: 100%;
  bottom: 50px;
  font-size: 14px;
  text-align: center;
}

.totalSpace {
  width: 95%;
  height: 30px;
  background: white;
  margin: auto;
  border-radius: 8px;
  border: 2px solid rgb(166, 166, 166);
}