.RightBarContainer {
  text-align: center;
  color: white;
}

.UsersContainer {
  position: absolute;
  left: 85%;
  height: 100%;
  width: 15%;
}

.UserDelim {
  margin-bottom: 50px;
  margin-top: 50px;
}

.UsersConnected {
  margin-bottom: 50px;
}